<%- include('./partials/header.ejs') %>
<div class="container w-50">
<h1 class="text-center text-warning">EDIT BLOG</h1>
<form action="/blogs/update-blog" method="POST" enctype="multipart/form-data" class="mt-4">
    <input type="hidden" name="id" value="<%= blog._id %>">
    <div class="form-group">
        <label for="title" class="text-muted">Title</label>
        <input value="<%= blog.title %>" type="text" class="form-control" id="title" name="title" autocomplete="off">
    </div>
    <div class="form-group">
        <label for="textarea" class="text-muted">Description</label>
        <textarea type="text" class="form-control" id="textarea" name="desc" rows="5"><%= blog.desc %></textarea>
    </div>
    <div class="form-group">
        <label for="inputAddress" class="text-muted">Genre</label>
        <input value="<%= blog.genre %>" type="text" class="form-control" id="genre" name="genre">
    </div>
    <div class="form-group">
        <label for="fileinput" class="text-muted">Choose an image</label>
        <input onchange="previewFile(this);" type="file" class="form-control-file" id="fileinput" name="image" multiple>
    </div>
    <div class="form-group d-flex">   
        <div class="mr-3 col-md-6 pull-left text-center">
            <label for="fileinput" class="text-muted">Previous Image</label>
            <img id="Img" src="/uploads/<%= blog.image %>" alt="your image" style="max-width: 225px;max-height:150px" />
        </div>
        <div class="form-group col-md-6 pull-right text-center">
            <label for="fileinput" class="text-warning">New Image</label>
            <img id="previewImg" src="/uploads/thumbnail.png" alt="your image" style="max-width: 225px;height:126px" />
        </div>
    </div>
    <button type="submit" class="btn btn-raised btn-warning btn-block">Update blog</button>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        function previewFile(input) {
            var file = $("input[type=file]").get(0).files[0];
            if (file) {
                var reader = new FileReader();
                reader.onload = function () {
                    $("#previewImg").attr("src", reader.result);
                }
                reader.readAsDataURL(file);
            }
        }
    </script>
</form>
</div>